body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#abf092 ,  #f0bb65);
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    height: 60px;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-size: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
}

.button:hover {
    background-color: #e0e0e0;
}

#clear {
    grid-column: span 4;
    background-color: #7de674;
    color: #fff;
}

#clear:hover {
    background-color: #8cccf4;
}
